# 🌐 URL da aplicação
BASE_URL_BACKOFFICE=
BASE_URL_BANKING=
BASE_URL_BANK=
BASE_URL_KEYCLOAK=

# 🔐 Credenciais de acesso
APP_USER=
APP_PASS=

# 💾 Config de banco (se usar tasks de DB)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_ENCRYPT=
DB_TRUST_SERVER_CERT=
