# Ambiente HML
HML_APP_BASE_URL=https://beyond-hml.grupomultiplica.com.br/
HML_KEYCLOAK_URL=https://keycloak-new-2.grupomultiplica.com.br/

# Usuários de teste por perfil (ambiente HML)
# Adicione aqui as credenciais de cada novo perfil provisionado (operador, aprovador, etc.)
HML_MASTER_USERNAME=
HML_MASTER_PASSWORD=
